
/* Your CSS Code here. */
.mytable{
	width: 100%;
	font-family: arial;
}
thead{
	background-color: darkred;
	color: white;
	text-align: left;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}